/*
ADD FONTS LATER:
font-family: 'Londrina Shadow', cursive;
font-family: 'Londrina Solid', cursive;

ADD PROPER RESPONSIVENESS LATER
change answer arrangement
media sizes: small(< 480px), medium(> 480px, < 1024px), larger(> 1024px)

ADD BUTTON STATES
js for button states including:
Correct
Incorrect
Default
Inactive (for submit)
*/

* {
    box-sizing: border-box;
}

header {
    text-align: center;
    border: 2px black solid;
    padding: 5px;
    background-color: lightgoldenrodyellow;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
}

h1 {
    font-family: 'Londrina Shadow', cursive;
}

body {
    font-family: 'Londrina Solid', cursive;
    font-size: 18px;
}

.score ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.score li {
    display: inline;
    padding: 10px;
}

.quiz-box, .open-view, .results-view {
    text-align: center;
    margin: 15px auto;
    padding-top: 120px;
}

fieldset  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px auto;
    border: 0px;
}

img {
    max-height: 50%;
    max-width: 50%;
    border: 2px solid black;
    box-shadow: 3px 3px lightgrey;
    border-radius: 10px;
}

legend {
    border: 2px solid black;
    padding: 3px;
}

button {
    margin: 15px auto;
    display: flex;
    width: 40%;
    height: 50px;
    justify-content: center;
    border-radius: 5px;
}

.submit, .continue {
    width: 20%;
    justify-content: center;
    background-color: lightblue;
    color: black;
}

.button-default {
    background-color: lightgoldenrodyellow;
}

.button-incorrect {
    background-color: red;
}

.button-correct {
    background-color: lightgreen;
}

.hide {
    display: none;
}